/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #2980b9;
}

.container {
  width: auto;
  max-width: 1100px;
  /*padding: 0 }px;*/
}



/* Slider */

.fondo{
      background-color: #2980b9;
      height: 40%;
      background-position: center;
      background-size: cover;
} 

/*Menu*/
.menu{
	  background-color: #3498db;
	  opacity:0.95;
}
.sombra{

box-shadow: 10px 10px 30px -6px #7f8c8d;

}
/*footer*/
.empresa{
  color : white !important;
}
